= simple_form_for(ingredient) do |f|
  - if ingredient.errors.any?
    .error_explanation
      %ul
      - ingredient.errors.full_messages.each do |msg|
        %li= msg
  .form-group
    = f.input :name, :url => autocomplete_ingredient_name_ingredients_path, as: :autocomplete, input_html: { class: 'form-control' }

  .actions
    = f.submit class: "btn btn-success"