= simple_form_for(ingredient) do |f|
  - if ingredient.errors.any?
    .error_explanation
      %ul
      - ingredient.errors.full_messages.each do |msg|
        %li= msg

  = f.input :name, :url => autocomplete_ingredient_name_ingredients_path, :as => :autocomplete

  .actions
    = f.submit